@model MVCDemos.Models.Student
@{
    ViewData["Title"] = "Index1";
}

<h1>Index1</h1>

   <h3> Student Details </h3>
<p>
    @Model.Id<br />
    @Model.Name <br />
    @Model.BatchCode <br/>
    @Model.Marks

</p>

