
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

 <h3> Student Details </h3>
 <p>
     @ViewBag.student.Id
     <br />
     @ViewBag.student.Name
     <br />
     @ViewBag.student.BatchCode
     <br />
     @ViewBag.student.Marks


 </p>

